header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 500;
  padding-top: calc(15px + 15 * ((100vw - 320px) / 1120));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.scroll {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.182);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.header__wr {
  gap: calc(15px + 20 * ((100vw - 320px) / 1120));
}

.header__wr-logo {
  font-family: "Arial";
  font-size: calc(15px + 2 * ((100vw - 320px) / 1120));
}

.header__wr-list {
  font-weight: 700;
  gap: 5px;
}

.select__language {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  background-color: #fff;
  padding-left: 16px;
  border-radius: 5px;
  padding-left: calc(9px + 7 * ((100vw - 320px) / 1120));
}

.select__language span {
  color: #2E3A59;
  font-weight: 700;
  font-size: calc(12px + 5 * ((100vw - 320px) / 1120));
  margin-left: calc(9px + 6 * ((100vw - 320px) / 1120));
}

.more__language {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 9px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.more__language-active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.language__option {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.language__option:not(:last-child) {
  margin-bottom: 4px;
}

.arrow__language {
  padding: 0 13px;
  height: 100%;
  padding-top: calc(13px + 12 * ((100vw - 320px) / 1120));
  padding-bottom: calc(13px + 12 * ((100vw - 320px) / 1120));
}

.personal-office {
  display: none;
}

.header__wr-btn {
  gap: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.burger__body {
  display: none;
}

.header__burger-btn__open:after {
  -webkit-animation: left 1s linear 1 alternate 0s forwards;
          animation: left 1s linear 1 alternate 0s forwards;
}

.header__burger-btn__open:before {
  -webkit-animation: right 1s linear 1 alternate 0s forwards;
          animation: right 1s linear 1 alternate 0s forwards;
}

@-webkit-keyframes right {
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
}

@keyframes right {
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
}

@-webkit-keyframes left {
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

@keyframes left {
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: skyblue;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  font-family: "Montserrat";
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1215px;
  padding-left: calc(15px + 15 * ((100vw - 320px) / 1120));
  padding-right: calc(15px + 15 * ((100vw - 320px) / 1120));
}

.container {
  max-width: 1470px;
  padding-left: calc(15px + 15 * ((100vw - 320px) / 1120));
  padding-right: calc(15px + 15 * ((100vw - 320px) / 1120));
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

footer {
  height: 200vh;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

@media (min-width: 600px) {
  .personal-office {
    max-height: 57px;
    height: calc(30px + 27 * ((100vw - 320px) / 1120));
    padding-left: calc(10px + 16 * ((100vw - 320px) / 1120));
    padding-right: calc(10px + 16 * ((100vw - 320px) / 1120));
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1120));
    display: inline-block;
    background: -o-linear-gradient(351.11deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }
}

@media (min-width: 600px) and (any-hover: hover) {
  .personal-office:hover {
    background: -o-linear-gradient(351.11deg, #e98d03 25.06%, #f08132 88.94%);
    background: linear-gradient(98.89deg, #e98d03 25.06%, #f08132 88.94%);
  }
}

@media (min-width: 767px) {
  .header__wr-list li {
    position: relative;
    font-size: calc(8px + 10 * ((100vw - 320px) / 1120));
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .header__wr-list li:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: -o-linear-gradient(351.11deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 140%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

@media (min-width: 767px) and (any-hover: hover) {
  .header__wr-list li:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: rgb(236, 231, 231);
  }

  .header__wr-list li:hover:after {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .header__wr-list {
    display: none;
  }

  .header__burger-btn {
    width: 35px;
    height: 40px;
    position: relative;
  }

  .header__burger-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #fff;
  }

  .header__burger-btn:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #fff;
  }
}

@media (max-width: 600px) {
  .select__language {
    padding: 10px;
  }

  .arrow__language {
    display: none;
  }
}

@media (any-hover: hover) {
  .select__language:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgb(241, 237, 237);
  }

  .language__option:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgb(241, 237, 237);
  }
}