header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 500;
  padding-top: calc(15px + 15 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.burger__body {
  display: none;
}

.burger__body-wr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

.header__logo-item {
  width: calc(40px + 20 * ((100vw - 320px) / 1600));
}

.scroll {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.182);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.header__wr {
  gap: calc(15px + 40 * ((100vw - 320px) / 1600));
}

.header__wr-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__wr-list {
  font-weight: 700;
  gap: 15px;
}

.select__language {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  background-color: #fff;
  padding-left: 16px;
  border-radius: 5px;
  padding-left: calc(9px + 7 * ((100vw - 320px) / 1600));
}

.select__language span {
  color: #2E3A59;
  font-weight: 700;
  font-size: calc(12px + 5 * ((100vw - 320px) / 1600));
  margin-left: calc(9px + 6 * ((100vw - 320px) / 1600));
}

.more__language {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 9px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.more__language-active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.language__option {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.language__option:not(:last-child) {
  margin-bottom: 4px;
}

.arrow__language {
  padding: 0 13px;
  height: 100%;
  padding-top: calc(13px + 12 * ((100vw - 320px) / 1600));
  padding-bottom: calc(13px + 12 * ((100vw - 320px) / 1600));
}

.personal-office {
  display: none;
}

.header__wr-btn {
  gap: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__burger-btn {
  display: none;
}

.header__burger-btn__open:after {
  -webkit-animation: left 1s linear 1 alternate 0s forwards;
          animation: left 1s linear 1 alternate 0s forwards;
}

.header__burger-btn__open:before {
  -webkit-animation: right 1s linear 1 alternate 0s forwards;
          animation: right 1s linear 1 alternate 0s forwards;
}

@-webkit-keyframes right {
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
}

@keyframes right {
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
}

@-webkit-keyframes left {
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

@keyframes left {
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  font-family: "Montserrat";
  line-height: 120%;
  background: #F5F9FF;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.container {
  max-width: 1470px;
  padding-left: calc(15px + 85 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 85 * ((100vw - 320px) / 1600));
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

h1 {
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  position: relative;
  font-weight: 800;
  line-height: 120%;
  font-size: calc(30px + 25 * ((100vw - 320px) / 1600));
  position: relative;
  padding-bottom: calc(15px + 13 * ((100vw - 320px) / 1600));
}

h1:after {
  content: "cheats";
  text-transform: uppercase;
  position: absolute;
  top: calc(-20px + -30 * ((100vw - 320px) / 1600));
  left: 30%;
  display: block;
  font-weight: 600;
  font-size: calc(20px + 25 * ((100vw - 320px) / 1600));
  line-height: 120%;
  color: rgba(255, 255, 255, 0.08);
}

.btn {
  background: -o-linear-gradient(351.11deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

h2 {
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  position: relative;
  font-size: calc(30px + 15 * ((100vw - 320px) / 1600));
  line-height: 120%;
  color: #2E3A59;
  font-weight: 800;
  text-align: center;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

h2.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

h6 {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2E3A59;
  margin-bottom: 30px;
  text-align: left;
}

.trigger {
  position: fixed;
  top: 50vh;
  right: 0;
  width: 100vw;
  height: 1px;
  background-color: red;
  z-index: 999;
}

.footer {
  position: relative;
}

.no-webp .footer:after {
  background: url("../img/footer-bg.png") center center/cover no-repeat; }

.footer:after {
  content: "";
  display: block;
  width: 100%;
  height: calc(300px + 410 * ((100vw - 320px) / 1600));
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__title {
  position: relative;
  padding-bottom: calc(20px + 70 * ((100vw - 320px) / 1600));
}

.footer__title span {
  position: absolute;
  top: -6px;
  left: -22px;
  width: calc(25px + 15 * ((100vw - 320px) / 1600));
  height: calc(17px + 8 * ((100vw - 320px) / 1600));
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer__title span:after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FB8500;
}

.footer__title span:before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FB8500;
}

.footer__body {
  position: relative;
  z-index: 2;
}

.footer__net {
  gap: 10px;
}

.footer__net-img {
  display: none;
}

.footer__net-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.footer__smoke {
  width: calc(300px + 120 * ((100vw - 320px) / 1600));
  height: calc(300px + 120 * ((100vw - 320px) / 1600));
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.footer__nav {
  display: none;
}

.footer__autor {
  padding-top: calc(50px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: 45px;
  color: #fff;
}

.footer__contact {
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  padding-left: calc(28px + 32 * ((100vw - 320px) / 1600));
  padding-right: calc(28px + 4 * ((100vw - 320px) / 1600));
  padding-bottom: 30px;
  padding-top: 45px;
  max-width: 650px;
  width: 100%;
  margin-left: calc(30px + 50 * ((100vw - 320px) / 1600));
  margin-right: calc(30px + 50 * ((100vw - 320px) / 1600));
}

.footer__contact h6 {
  color: #2E3A59;
  font-weight: 600;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.bd {
  border: 1px solid red;
}

.flex50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.initial {
  background: -o-linear-gradient(336.72deg, #1A47EA 3.44%, #82E9FF 96.25%);
  background: linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  padding-top: calc(92px + 116 * ((100vw - 320px) / 1600));
  padding-bottom: calc(140px + 180 * ((100vw - 320px) / 1600));
  color: #fff;
  position: relative;
  overflow: hidden;
}

.no-webp .initial:after {
  background: url("../img/initial__bottom-white.png") center 55%/cover no-repeat; }

.initial:after {
  content: "";
  display: block;
  width: 100%;
  height: calc(70px + 80 * ((100vw - 320px) / 1600));
  position: absolute;
  left: 0;
  bottom: 0;
}

.initial__dekor-dotts {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F5F9FF;
  -webkit-transition: all 3s linear;
  -o-transition: all 3s linear;
  transition: all 3s linear;
  z-index: 2;
}

.initial__body {
  position: relative;
  z-index: 3;
  gap: 10px;
}

.initial__body-img,
.initial__body-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.initial__body-img {
  position: relative;
  display: none;
}

.initial__body-img:after {
  content: "WallHack";
  display: block;
  font-weight: 600;
  font-size: calc(20px + 35 * ((100vw - 320px) / 1600));
  line-height: 67px;
  color: rgba(255, 255, 255, 0.11);
  position: absolute;
  bottom: -35px;
  right: 0;
}

.triangle {
  display: inline-block;
  width: calc(24px + 20 * ((100vw - 320px) / 1600));
  height: calc(24px + 20 * ((100vw - 320px) / 1600));
  position: relative;
  overflow: hidden;
}

.triangle-width {
  width: calc(12px + 10 * ((100vw - 320px) / 1600));
  height: calc(12px + 10 * ((100vw - 320px) / 1600));
}

.triangle-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.triangle-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dekor__left-parent {
  position: relative;
}

.dekor__left {
  display: inline-block;
  width: calc(22px + 18 * ((100vw - 320px) / 1600));
  height: calc(16px + 8 * ((100vw - 320px) / 1600));
  position: absolute;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -16px;
  top: -5px;
}

.dekor__left:after {
  content: "";
  display: block;
  width: 100%;
  height: calc(5px + 3 * ((100vw - 320px) / 1600));
  background-color: #FB8500;
  position: absolute;
  top: 0;
  left: 0;
}

.dekor__left:before {
  content: "";
  display: block;
  width: 100%;
  height: calc(5px + 3 * ((100vw - 320px) / 1600));
  background-color: #FB8500;
  position: absolute;
  bottom: 0;
  left: 0;
}

.initial__line {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: -o-linear-gradient(329.21deg, #FFAC8B 31.33%, #FF4900 101.79%);
  background: linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
  width: 110px;
  height: 5px;
  margin-bottom: calc(15px + 12 * ((100vw - 320px) / 1600));
}

.initial__body-text {
  position: relative;
}

.initial__body-text P {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  line-height: 120%;
  font-weight: 600;
}

.initial__body-text .initial__dekor-orange__line {
  position: absolute;
  top: 0%;
  right: -100px;
  width: calc(30px + 60 * ((100vw - 320px) / 1600));
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.initial__p-top {
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  -webkit-transition: all 0.8s linear 0.8s;
  -o-transition: all 0.8s linear 0.8s;
  transition: all 0.8s linear 0.8s;
  opacity: 0;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}

.initial__p-top.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.initial__p-bottom {
  -webkit-transition: all 0.8s linear 1.4s;
  -o-transition: all 0.8s linear 1.4s;
  transition: all 0.8s linear 1.4s;
  padding-bottom: calc(25px + 21 * ((100vw - 320px) / 1600));
  -webkit-transition: all 0.8s linear 1.6s;
  -o-transition: all 0.8s linear 1.6s;
  transition: all 0.8s linear 1.6s;
  opacity: 0;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}

.initial__p-bottom.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.initial__btn {
  gap: calc(17px + 17 * ((100vw - 320px) / 1600));
}

.initial__btn-buy {
  overflow: hidden;
  gap: calc(13px + 21 * ((100vw - 320px) / 1600));
  padding-top: calc(18px + 6 * ((100vw - 320px) / 1600));
  padding-bottom: calc(18px + 6 * ((100vw - 320px) / 1600));
  padding-left: calc(27px + 17 * ((100vw - 320px) / 1600));
  padding-right: calc(27px + 3 * ((100vw - 320px) / 1600));
}

.initial__btn-buy img {
  width: calc(32px + 22 * ((100vw - 320px) / 1600));
}

.initial__btn-buy.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.initial__btn-video {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid #A9EAFF;
  border-radius: 5px;
  padding-top: calc(19px + 9 * ((100vw - 320px) / 1600));
  padding-bottom: calc(19px + 9 * ((100vw - 320px) / 1600));
  padding-left: calc(24px + 20 * ((100vw - 320px) / 1600));
  padding-right: calc(24px + 20 * ((100vw - 320px) / 1600));
  font-size: calc(13px + 5 * ((100vw - 320px) / 1600));
  white-space: nowrap;
  font-weight: 600;
}

.initial__dekor-weapon {
  position: absolute;
  left: calc(15px + 25 * ((100vw - 320px) / 1600));
  bottom: 0px;
  z-index: 2;
  width: calc(400px + 400 * ((100vw - 320px) / 1600));
}

.initial__title {
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.initial__title.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.functional {
  padding-bottom: calc(45px + 125 * ((100vw - 320px) / 1600));
}

.functional__net {
  padding-top: 30px;
  gap: 15px;
}

.tel__img {
  padding-top: 10px;
}

.tel__img img {
  width: calc(200px + 100 * ((100vw - 320px) / 1600));
  padding-right: 14%;
}

.tel__img-item {
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.tel__img-item.active {
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.tel__btn {
  gap: 15px;
}

.tel__btn a {
  border-radius: 5px;
  padding-left: calc(10px + 21 * ((100vw - 320px) / 1600));
  padding-right: calc(12px + 19 * ((100vw - 320px) / 1600));
  padding-top: calc(12px + 8 * ((100vw - 320px) / 1600));
  padding-bottom: calc(12px + 8 * ((100vw - 320px) / 1600));
  gap: calc(10px + 7 * ((100vw - 320px) / 1600));
  font-weight: 700;
}

.tel__btn img {
  width: calc(23px + 10 * ((100vw - 320px) / 1600));
  height: calc(21px + 8 * ((100vw - 320px) / 1600));
}

.tel__btn-windows,
.tel__btn-android {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.07);
  color: #AAAAAA;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.tel__btn-ios {
  background: -o-linear-gradient(7.42deg, #0AA6FE 37.16%, #05FFFF 163.86%);
  background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
  -webkit-box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
          box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
  color: #FFFFFF;
}

.functional__title {
  margin-bottom: 25px;
}

.functional__title:after,
.functional__title:before {
  content: "";
  display: block;
  width: 40px;
  width: calc(20px + 20 * ((100vw - 320px) / 1600));
  height: 8px;
  position: absolute;
  background: #FB8500;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.functional__title:after {
  top: 0px;
  left: -15px;
}

.functional__title:before {
  bottom: 0px;
  right: -15px;
}

.functional__p {
  color: #828282;
  line-height: 130%;
  padding-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
}

.functional__list {
  padding-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
}

.functional__list li {
  padding-bottom: calc(25px + 10 * ((100vw - 320px) / 1600));
  color: #2E3A59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functional__list li span {
  font-weight: 700;
}

.list__cube {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #FB8500;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.functional__warning {
  display: none;
}

.functional__btn {
  gap: 20px;
  font-weight: 600;
}

.functional__btn img {
  height: calc(18px + 6 * ((100vw - 320px) / 1600));
}

.functional__btn-buy {
  color: #fff;
  gap: 15px;
  padding-top: calc(18px + 9 * ((100vw - 320px) / 1600));
  padding-bottom: calc(18px + 9 * ((100vw - 320px) / 1600));
  padding-left: calc(25px + 9 * ((100vw - 320px) / 1600));
  padding-right: calc(25px + 9 * ((100vw - 320px) / 1600));
}

.functional__btn-buy img {
  width: calc(30px + 14 * ((100vw - 320px) / 1600));
}

.buy {
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.8s linear 0.4s;
  -o-transition: all 0.8s linear 0.4s;
  transition: all 0.8s linear 0.4s;
}

.buy.active {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.functional__btn-red {
  background: #FF3B3B;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.functional__title {
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.functional__title.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.functional__p {
  -webkit-transition: all 0.8s linear 0.8s;
  -o-transition: all 0.8s linear 0.8s;
  transition: all 0.8s linear 0.8s;
  opacity: 0;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}

.functional__p.active {
  -webkit-transition: all 0.8s linear 0.8s;
  -o-transition: all 0.8s linear 0.8s;
  transition: all 0.8s linear 0.8s;
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.no-webp .about {
  background: url("../img/about-bg.png") center center no-repeat; }

.about {
  padding-top: calc(60px + 100 * ((100vw - 320px) / 1600));
  position: relative;
}

.about__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__body {
  position: relative;
  z-index: 2;
}

.about__title {
  margin-bottom: 35px;
  color: #fff;
}

.about__title span {
  position: relative;
}

.about__title span:after,
.about__title span:before {
  content: "";
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: calc(20px + 20 * ((100vw - 320px) / 1600));
  height: calc(5px + 3 * ((100vw - 320px) / 1600));
  background-color: #FB8500;
  position: absolute;
  top: 0;
  left: 0;
}

.about__title span:after {
  left: -7px;
  top: 2px;
}

.about__title span:before {
  top: -7px;
  left: -16px;
}

.swiper {
  min-width: 0;
  width: 100%;
}

.swiper-slide {
  padding-top: calc(40px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
  padding-left: calc(40px + 20 * ((100vw - 320px) / 1600));
  padding-right: calc(40px + 20 * ((100vw - 320px) / 1600));
}

.swiper-slide__body {
  position: relative;
  background-color: #fff;
  padding-bottom: calc(23px + 19 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 90 * ((100vw - 320px) / 1600));
  padding-right: calc(20px + 90 * ((100vw - 320px) / 1600));
  padding-top: calc(40px + 43 * ((100vw - 320px) / 1600));
  border-radius: 5px;
  max-width: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide__body p {
  text-align: center;
  font-size: calc(11px + 5 * ((100vw - 320px) / 1600));
  line-height: 120%;
}

.dekor__slide-after {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
          transform: translate(0, -60%);
}

.dekor__slide-before {
  position: absolute;
  bottom: 0;
  right: 0px;
  -webkit-transform: translate(0, 60%) rotate(180deg);
      -ms-transform: translate(0, 60%) rotate(180deg);
          transform: translate(0, 60%) rotate(180deg);
}

.slide__avatar {
  width: calc(65px + 52 * ((100vw - 320px) / 1600));
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 4px solid #fff;
}

.slide__title-dekor {
  background: -o-linear-gradient(351.49deg, #FF9898 14.64%, #FF1F00 102.27%);
  background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
  border-radius: 5px 55px;
  width: 29px;
  height: 11px;
}

.slide__title {
  color: #2E3A59;
  gap: 10px;
  font-weight: 600;
  padding-bottom: 20px;
}

.arrow__prev,
.arrow__next {
  display: none;
}

.arrow__prev img,
.arrow__next img {
  width: calc(12px + 9 * ((100vw - 320px) / 1600));
}

.arrow__prev {
  left: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.arrow__prev img {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow__next {
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
      -ms-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.arrow__next img {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow__mobile {
  padding-bottom: 25px;
  padding-top: 15px;
  gap: 30px;
}

.arrow-prev__mobile {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-prev__mobile,
.arrow-next__mobile {
  display: block;
}

.arrow-next__mobile {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.price {
  padding-top: calc(20px + 90 * ((100vw - 320px) / 1600));
  padding-bottom: calc(60px + 50 * ((100vw - 320px) / 1600));
}

.price__title {
  position: relative;
  margin-bottom: calc(30px + 35 * ((100vw - 320px) / 1600));
}

.price__title:after,
.price__title:before {
  content: "";
  display: block;
  width: calc(20px + 18 * ((100vw - 320px) / 1600));
  height: 8px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #FB8500;
}

.price__title:after {
  top: -5px;
  left: -25px;
}

.price__title:before {
  bottom: -5px;
  right: -25px;
}

.price__app {
  padding-bottom: calc(45px + 15 * ((100vw - 320px) / 1600));
}

.price__net {
  width: 100%;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.price__net-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
  border-radius: 5px 55px;
  min-height: 1px;
  height: 100%;
}

.price__item {
  font-weight: 600;
  min-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__item-title {
  background: -o-linear-gradient(346.76deg, #05FFFF -7.39%, #0AA6FE 85.9%);
  background: linear-gradient(103.24deg, #05FFFF -7.39%, #0AA6FE 85.9%);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
  border-radius: 5px 55px 0px;
  font-size: 21px;
  padding-top: calc(15px + 7 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 7 * ((100vw - 320px) / 1600));
  color: #FFF;
  text-transform: uppercase;
}

.price__item-time {
  padding-top: calc(25px + 11 * ((100vw - 320px) / 1600));
  padding-bottom: calc(25px + 11 * ((100vw - 320px) / 1600));
  color: #2E3A59;
  font-size: calc(25px + 5 * ((100vw - 320px) / 1600));
  line-height: 120%;
}

.price__item-list {
  height: 100%;
  font-weight: 400;
  padding-left: calc(30px + 30 * ((100vw - 320px) / 1600));
  padding-right: calc(30px + 30 * ((100vw - 320px) / 1600));
  color: #2E3A59;
}

.price__item-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  padding-bottom: calc(10px + 15 * ((100vw - 320px) / 1600));
}

.price__item-price {
  color: #2E3A59;
  font-size: calc(35px + 10 * ((100vw - 320px) / 1600));
  line-height: 120%;
  padding-bottom: 20px;
}

.price__item-btn {
  gap: 20px;
  background: -o-linear-gradient(351.11deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 5px 55px;
  padding-top: calc(20px + 5 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  color: #FFFFFF;
}

.price__item-btn img {
  width: 44px;
}

.item__normal {
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.item__normal.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.item__standart .price__item-title {
  background: -o-linear-gradient(0.54deg, #DDA6FF -5.85%, #D828F4 106.28%);
  background: linear-gradient(89.46deg, #DDA6FF -5.85%, #D828F4 106.28%);
}

.item__pro {
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.item__pro .price__item-title {
  background: -o-linear-gradient(351.49deg, #FF9898 14.64%, #FF1F00 102.27%);
  background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
}

.item__pro.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.question__title {
  margin-bottom: calc(50px + 35 * ((100vw - 320px) / 1600));
}

.forAfter {
  position: relative;
}

.forAfter:after {
  content: "";
  display: block;
  background: #FB8500;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: calc(20px + 20 * ((100vw - 320px) / 1600));
  height: 8px;
  position: absolute;
  top: 3px;
  left: -19px;
}

.forBefore {
  position: relative;
}

.forBefore:after {
  content: "";
  display: block;
  background: #0AA6FE;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: calc(20px + 20 * ((100vw - 320px) / 1600));
  height: 8px;
  position: absolute;
  bottom: 0px;
  right: -21px;
}

.question__net {
  gap: 23px;
}

.question__net {
  max-width: 950px;
  width: 100%;
}

.question__net-item {
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding-left: calc(25px + 11 * ((100vw - 320px) / 1600));
}

.question__net-item span {
  font-weight: 600;
  color: #2E3A59;
}

.question__net-item p {
  color: #2E3A59;
  font-size: calc(11px + 5 * ((100vw - 320px) / 1600));
  position: relative;
  padding-left: 20px;
}

.question__net-item p:after {
  content: "";
  display: block;
  height: 100%;
  background: -o-linear-gradient(329.21deg, #0AA6FE 31.33%, #05FFFF 101.79%);
  background: linear-gradient(120.79deg, #0AA6FE 31.33%, #05FFFF 101.79%);
  width: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.akardeon-open {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding-top: calc(20px + 16 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 16 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 26 * ((100vw - 320px) / 1600));
  padding-right: calc(20px + 26 * ((100vw - 320px) / 1600));
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.akardeon-open.active {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.question__body {
  padding-right: calc(20px + 26 * ((100vw - 320px) / 1600));
  padding-bottom: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.question__body.active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: calc(20px + 18 * ((100vw - 320px) / 1600));
  height: auto;
  visibility: visible;
  height: auto;
  overflow: none;
  opacity: 1;
}

#anim1,
#anim2,
#anim3,
#anim4,
#anim5 {
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
}

#anim1.active,
#anim2.active,
#anim3.active,
#anim4.active,
#anim5.active {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

#anim2 {
  -webkit-transition: all 0.8s linear 0.8s;
  -o-transition: all 0.8s linear 0.8s;
  transition: all 0.8s linear 0.8s;
}

#anim4 {
  -webkit-transition: all 0.8s linear 0.8s;
  -o-transition: all 0.8s linear 0.8s;
  transition: all 0.8s linear 0.8s;
}

#anim5 {
  -webkit-transition: all 0.8s linear 1.6s;
  -o-transition: all 0.8s linear 1.6s;
  transition: all 0.8s linear 1.6s;
}

.question__question {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 500;
  color: #0AA6FE;
  padding-top: calc(30px + 15 * ((100vw - 320px) / 1600));
  padding-bottom: calc(75px + 25 * ((100vw - 320px) / 1600));
}

@media (min-width: 600px) {
  .personal-office {
    max-height: 57px;
    height: calc(30px + 27 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 16 * ((100vw - 320px) / 1600));
    padding-right: calc(10px + 16 * ((100vw - 320px) / 1600));
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1600));
    display: inline-block;
    background: -o-linear-gradient(351.11deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }

  .arrow__prev,
  .arrow__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -o-linear-gradient(346.99deg, #0AA6FE -49.1%, #05FFFF 177.15%);
    background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);
    -webkit-box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
            box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
    border-radius: 15px;
    width: calc(40px + 75 * ((100vw - 320px) / 1600));
    height: calc(40px + 75 * ((100vw - 320px) / 1600));
    position: absolute;
    top: 50%;
  }

  .arrow__mobile {
    display: none;
  }
}

@media (min-width: 600px) and (any-hover: hover) {
  .personal-office:hover {
    background: -o-linear-gradient(351.11deg, #e98d03 25.06%, #f08132 88.94%);
    background: linear-gradient(98.89deg, #e98d03 25.06%, #f08132 88.94%);
  }
}

@media (min-width: 767px) {
  .header__wr-list li {
    position: relative;
    font-size: calc(8px + 10 * ((100vw - 320px) / 1600));
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .header__wr-list li:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: -o-linear-gradient(351.11deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 140%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

@media (min-width: 767px) and (any-hover: hover) {
  .header__wr-list li:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: rgb(236, 231, 231);
  }

  .header__wr-list li:hover:after {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .footer__nav {
    display: block;
  }

  .footer__nav .header__wr-list {
    color: #fff;
  }

  .initial__body-img {
    display: block;
  }
}

@media (min-width: 993px) {
  .footer__net-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    position: relative;
    display: block;
  }

  .functional__warning {
    background-color: #fff;
    gap: 20px;
    padding: 25px;
    -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    color: #828282;
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 1470px) {
  .header__wr-list li {
    font-size: 18px;
  }

  h1 {
    font-size: 55px;
  }

  .initial__btn-video {
    font-size: 18px;
    padding: 28px 44px;
  }
}

@media (min-width: 1920px) {
  h2 {
    font-size: 45px;
  }

  .arrow__prev,
  .arrow__next {
    width: 115px;
    height: 115px;
  }
}

@media (max-width: 992px) {
  .footer__net-contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .initial__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .functional__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .price__net {
    gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__net-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    max-width: 600px;
  }

  .price__item {
    min-height: auto;
  }

  .item__normal {
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }

  .item__standart {
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    opacity: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }

  .item__standart.active {
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .item__pro {
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .item__pro.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (max-width: 767px) {
  .burger__body {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    background-color: #fff;
    color: skyblue;
    display: block;
    text-align: left;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
    opacity: 0;
    pointer-events: none;
  }

  .burger__body li {
    position: relative;
    z-index: 5;
    padding: 10px;
  }

  .burger__body li:active {
    background-color: #c5c5c5;
  }

  .burger__body-active {
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .header__logo-item {
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }

  .header__wr-list {
    display: none;
  }

  .header__burger-btn {
    display: block;
    width: 35px;
    height: 40px;
    position: relative;
  }

  .header__burger-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #fff;
  }

  .header__burger-btn:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #fff;
  }

  .flex50 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }

  .initial__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .initial__line {
    height: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .initial__body-text .initial__dekor-orange__line {
    top: 40px;
    right: 0;
  }

  .initial__btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .initial__btn-buy {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all 0.8s linear 2.4s;
    -o-transition: all 0.8s linear 2.4s;
    transition: all 0.8s linear 2.4s;
  }

  .initial__btn-video {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 0.8s linear 2.4s;
    -o-transition: all 0.8s linear 2.4s;
    transition: all 0.8s linear 2.4s;
  }

  .initial__btn-video.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }

  .functional__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tel__btn {
    gap: 10px;
  }

  .functional__title {
    margin-bottom: 20px;
  }

  .functional__title:after,
  .functional__title:before {
    height: 5px;
  }

  .slide__title-dekor {
    width: 19px;
    height: 7px;
  }

  .price__net {
    gap: 40px;
  }

  .forAfter:after {
    height: 5px;
  }

  .forBefore:after {
    height: 5px;
  }

  .question__net-item p {
    padding-left: 15px;
  }
}

@media (max-width: 600px) {
  .select__language {
    padding: 10px;
  }

  .arrow__language {
    display: none;
  }

  .footer__title span:after {
    height: 5px;
  }

  .footer__title span:before {
    height: 5px;
  }

  .no-webp .initial:after {
    background: url("../img/initial__bottom-white.png") 15% 55%/cover no-repeat; }

  .dekor__left {
    left: -14px;
    top: -3px;
  }

  .initial__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .functional__btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .functional__btn-red {
    display: none;
  }

  .no-webp .about {
    background: url("../img/about-bg.png") center 55% no-repeat; }

  .slide__title {
    padding-bottom: 12px;
  }

  .swiper-button-disabled {
    opacity: 0.2;
  }

  .price__title:after,
  .price__title:before {
    height: 5px;
  }

  .price__title:after {
    top: 5px;
    left: -15px;
  }

  .price__title:before {
    bottom: 5px;
    right: -15px;
  }

  .price__net {
    gap: 30px;
  }

  .price__item-title {
    font-size: 18px;
  }

  .price__item-price {
    padding-top: 15px;
  }

  .forAfter:after {
    top: 0px;
    left: -12px;
  }

  .forBefore:after {
    bottom: 5px;
    right: -20px;
  }
}

@media (max-width: 599px) {
  .swiper-slide {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .about__title span:after {
    left: -5px;
    top: 2px;
  }

  .about__title span:before {
    top: -6px;
    left: -13px;
  }
}

@media (max-width: 380px) {
  h6 {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (any-hover: hover) {
  .select__language:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgb(241, 237, 237);
  }

  .language__option:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgb(241, 237, 237);
  }

  .btn:hover {
    background: -o-linear-gradient(351.11deg, #e28904 25.06%, #e27d35 88.94%);
    background: linear-gradient(98.89deg, #e28904 25.06%, #e27d35 88.94%);
  }

  .initial__btn-video:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgba(169, 234, 255, 0.1019607843);
  }

  .tel__btn-windows:hover,
  .tel__btn-android:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgb(241, 237, 237);
  }

  .tel__btn-ios:hover {
    background: -o-linear-gradient(7.42deg, #0a97e9 37.16%, #05e7e7 163.86%);
    background: linear-gradient(82.58deg, #0a97e9 37.16%, #05e7e7 163.86%);
  }

  .functional__list li:hover .list__cube {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .functional__btn-red:hover {
    background: #e63131;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .price__item-btn:hover {
    background: -o-linear-gradient(351.11deg, #e98d03 25.06%, #ff8025 88.94%);
    background: linear-gradient(98.89deg, #e98d03 25.06%, #ff8025 88.94%);
  }

  .question__question:hover {
    text-decoration: none;
  }
}

.webp .footer:after { background: url(../img/footer-bg.webp) center center/cover no-repeat; }

.webp .initial:after { background: url(../img/initial__bottom-white.webp) center 55%/cover no-repeat; }

.webp .about { background: url(../img/about-bg.webp) center center no-repeat; }

@media (max-width: 600px) {

  .webp .initial:after { background: url(../img/initial__bottom-white.webp) 15% 55%/cover no-repeat; }
}

@media (max-width: 600px) {

  .webp .about { background: url(../img/about-bg.webp) center 55% no-repeat; }
}